
body{
    font-family: 'Montserrat', sans-serif;
}
.container{     
    max-width: 1105px;
    margin: 0 auto;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}
.nav-li{
    display: inline-block;
}
.nav-li:first-of-type{
color:rgba(250, 74, 12, 1);
}
.nav-li:not(:last-of-type){
    margin-right:90px; 
}
nav-link{
    color: black
    text decoretion: none;
}
.nav-link:hover{
    color:rgba(250, 74, 12, 1)
}
.app {
background-image:url(../img/bg\ 1.png);
color: white;
text-align: center;
padding: 80px 0 162px;
background-repeat: no-repeat;
background-size: cover;
background-position: center;
}
.app-pretitle{
    font-weight: bold;
font-size: 24px;
line-height: 36px;
}
.app-title{
    
    font-weight: bold; 
font-size: 58px;
line-height: 80px;
max-width: 800px;
margin: 10px auto;
url("font-family: 'Poppins', sans-serif;")
}
.app-text{
    font-size: 24px;
line-height: 38px;
margin-bottom: 54px;
}
.button{
    width: 236px;
height: 68px;
color: white;
border-radius: 30px;
font-weight: bold;
font-size: 24px;
line-height: 36px;
}
.button:first-of-type{
background: rgba(250, 74, 12, 1);
border: 1 px solid rgba(250, 74, 12, 1);
margin: 67px;
}
.button:last-of-type{
    background: none;
    border: 1px solid white;
}
.order{
    background-image: url(../img/bg\ 2.png);
    color: white;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 141px 0 130px;
}
.order-title{
    font-weight: bold;

font-size: 40px;
line-height: 57px;
}
.order-text{
    font-size: 24px;
line-height: 38px;
margin: 10px 0 60px;
}
.order-button{
    height: 64px;
    line-height: 28px;
    border-radius: 10px;
    color:white ;
    cursor: pointer;
}

.order-button:first-of-type{
    background: rgba(250, 74, 12, 1);
    border:1px solid rgba(250, 74, 12, 1);
    width:142px;
    margin:16px;
}

.order-button:last-of-type{
        background: none;
        border:1px solid white;
        width: 173px;
}
.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.mobile-pretitle{
     font-weight: bold;
     font-size: 24px;
    line-height: 36px;
    color:rgba(250, 74, 12, 1)
}
.mobile-title{
        font-weight: bold;
    font-size: 40px;
    line-height: 57px;
    max-width: 560px
}
.mobile-text{
        font-size: 24px;
    line-height: 38px;
     color:#737373 
     max-+width: 467px
}
.mobile-pretitle{
    font-weight: bold;
font-size: 24px;
line-height: 36px;
color:rgba(250, 74, 12, 1)
}
.mobile-title{
    font-weight: bold;
font-size: 40px;
line-height: 57px;
max-width: 560px;
}
.mobile-text{
    font-size: 24px;
line-height: 38px;
 color:#737373; 
 max-width: 467px;
}
.mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 40px auto;
}
.text{
    font-weight: 600;
font-size: 44px;
line-height: 36px;
text-align: center;
margin: 56px auto;
url("font-family: 'Poppins', sans-serif;") 
}
.mb1{
    margin: 174px auto;
}